{% set date = null %}

<section class="events events--detailed">

    {% for event in events %}

        {% if event.date != date %}
            {% set date = event.date %}

            <h1>{{ event.begins_at|strftime('%A, %e. %B') }}</h1>
        {% endif %}

        <article class="event media">
            {% spaceless %}
            <div class="media__image">
                {% if event.flyer_url %}
                    <img src="{{ event.flyer_url }}" alt="">
                {% endif %}
            </div>
            {% endspaceless %}
            <div class="media__body">
                <header>
                    <h1>
                        <a href="{{ event.url }}">{{ event.name }}</a>
                        <small class="event__city">{{ event.city_name }}</small>
                    </h1>
                    <p class="event__location">
                        {{ event.begins_at|date('H:i') }} - {{ event.ends_at|date('H:i') }}
                        @ {{ event.venue_name }}
                    </p>
                </header>

                <p class="meta event__meta">
                    {{ event.music }}
                </p>
            </div>
        </article>

    {% endfor %}

</section>
