{% set date = null %}

<section class="events events--detailed">

    {% for event in events %}

        {% if event.date != date %}
            {% set date = event.date %}

            <h2>{{ event.begins_at|date("l, F j") }}</h2>
        {% endif %}

        <article class="event">
            <header>
                <h1>
                    <a href="{{ event.url }}">{{ event.name }}</a>
                </h1>
                <h2 class="event__location">
                    {{ event.venue_name }}, {{ event.city_name }}
                </h2>
            </header>

            <p class="event__info">
                {{ event.info }}
            </p>

            <p class="meta event__meta">
                {{ event.music }}
            </p>
        </article>

    {% endfor %}

</section>
